#todoList {
padding-left: 0px;
}


#todoList label{
    width: 80%;
}
#todoList li{
    list-style-type: none;
}

#todoList .btn{
    margin-left: 10px;
}

.completed{

}
.uncompleted label{
    color: #afa7a7;
    text-decoration: line-through;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.well blockquote {
	border-color: #ddd;
	border-color: rgba(0,0,0,0.15);
}

.well-lg {
	padding: 24px;
	border-radius: 6px;
}

.well-sm {
	padding: 9px;
	border-radius: 3px;
}